@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;


}

body {

    color: #F9F9F9;

}

.bg {
    height: 100vh;
    background-image: linear-gradient(transparent 0%, #0c0c0c 75%), url(/img/batman.png);
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

a {
    text-decoration: none;
    color: #F9F9F9;
}

.navBar>.logo {
    width: 60px;
    margin-left: 0.5rem;
}



.right-nav {
    display: flex;
    gap: 5rem;
}

.right-nav>img {
    width: 20px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 40px 48px 10px 48px;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 48px;



}


.textos>h1 {
    font-size: 65px;
}

.textos>.cat>p {
    width: 40px;
}

.estrelas {
    display: flex;
    align-items: center;
    margin-left: -0.5rem;

}

.estrelas>img {
    margin-top: 3px;
}

.btn {
    width: 256px;
    height: 56px;
    background-color: #FFA634;
    border-style: none;
    margin-top: 4rem;
    font-size: 24px;
    font-weight: 400;
}

.pop {
    margin-left: 3rem;
    border-bottom: 2px #FFA634 solid;
    padding-bottom: 2px;
    width: 4%;

}

.hamb {
    display: none;
}


.filmes {
    display: flex;
    gap: 71px;
    margin-top: 70px;
    margin-left: 3rem;
    cursor: pointer;
}


.shang-chi {
    background-image: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.8) 80.79%), url(/img/Shang-Chi.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
}


.shang-chi:hover {
    scale: 1.1;
    transition: 0.5s;
}

.wish {
    background-image: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.8) 80.79%), url(/img/wish-dragon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
}



.wish:hover {
    scale: 1.1;
    transition: 0.5s;
}

.loki {
    background-image: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.8) 80.79%), url(/img/loki.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
}

.loki:hover {
    scale: 1.1;
    transition: 0.5s;
}

.homem-aranha {
    background-image: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.8) 80.79%), url(/img/homem-aranha.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
}

.homem-aranha:hover {
    scale: 1.1;
    transition: 0.5s;
}

.the-witcher {
    background-image: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.8) 80.79%), url(/img/the-witcher.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;

}

.the-witcher:hover {
    scale: 1.1;
    transition: 0.5s;
}

.texto-filme {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 14rem;
    margin-left: 0.5rem;
    gap: 5px;


}

.categoria {
    background-color: #0C0C0C;
    color: #FFA634;
    font-size: 11px;
    padding: 4px 8px 4px 8px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.footer {
    background: #0C0C0C;
    padding-top: 10rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;

}

.footer>.footer-content>img {
    width: 60px;
}

.redes {
    display: flex;
    gap: 40px;
}

@media (max-width: 480px) {


    .batman {
        background-image: linear-gradient(transparent -100%, #0c0c0c 95%), url(/img/Image.png);
        background-size: cover;
        height: 100%;


    }

    .right-nav {
        display: none;
    }

    .populares {
        background-color: #0C0C0C;
    }

    .filmes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
    }

    .bg {
        background-color: #0C0C0C;
    }

    .footer-content>img {
        display: none;
    }

    .redes {
        gap: 100px;
        display: flex;
        margin-left: 1rem;
    }

    .pop {
        margin-left: 3rem;
        border-bottom: 2px #FFA634 solid;
        padding-bottom: 2px;
        width: 13%;
    
    }

    .hamb {
        display: block;
    }
    
}